<h1 class="col-12 text-center">Language: {{bioData.title}}</h1>
<section class="row">
    <div class="col-4">
        <div class="col">
            <img class="col" src="/images/{{bioData.avatar}}" alt="bio image">
        </div>
    </div>
    <div class="col-8">
    <h3 class="col">{{bioData.title}}   (Released: {{bioData.launch}})</h3>
    <p class="col">{{bioData.description}}</p>
    <p class="col"><b><a class="interestLink" target="_blank" href="{{bioData.link}}">Visit website</a></b></p>
    </div>
</section>